# Lists, Dictionaries, Functions, and More...

<br> <br>

Reference

- Python for Data Analysis, Wes McKinney

- <http://github.com/wesm/pydata-book> - Jupyter Notebook files for McKinney's book (in particular, for Ch 03)

### We start from these notes and modify them to make adjustments for this class.

We will use Jupyter notebooks for lecture notes. Think of Jupyter notebook as Python's version of Rmarkdown. 

Here is a nice comparison of programming languages R and Python and their use in Data Science, written by prof. Norm Matloff of UC Davis: <a href="https://github.com/matloff/R-vs.-Python-for-Data-Science">https://github.com/matloff/R-vs.-Python-for-Data-Science</a>

As it says there, "R vs. Python" debate in Data Science is largely "Statistics vs. Computer Science" debate.

## Getting and Changing Working Directory

In [1]:
import os   ## importing (i.e. loading) module (i.e. package) os; this is equivalent to R's function library()

## printing current working directory; note that you need to specify the parent package of the child function getcwd()
mypath = os.getcwd()

mypath

'/Users/slan/Teaching/ASU/DAT301/Lectures'

In [2]:
[type(mypath), len(mypath)]

[str, 40]

In [3]:
## to get without double backslashes, use print command (which is "as is")
print(mypath)

/Users/slan/Teaching/ASU/DAT301/Lectures

In [4]:
## change working directory using os function chdir
## Specify the destination path in the argument. It can be absolute or relative. Use '../' to move up.
## You can change the current directory in the same way as the UNIX cd command.

os.chdir('../')

print(os.getcwd())     ## didn't have to use "print", but just emphasizing

/Users/slan/Teaching/ASU/DAT301

In [5]:
os.chdir('./')

print(os.getcwd())

/Users/slan/Teaching/ASU/DAT301

In [6]:
# Apart from getcwd function from os, Jupyter notebook has a command %pwd (print working directory)  

mypath = %pwd

print(mypath)

/Users/slan/Teaching/ASU/DAT301

## Magic commands
Note that `%pwd` in the previous cell starts with `%`. This is an example of so called "magic command", which is specific to and provided by IPython command shell (which Jupyter nb is a part of). A magic command is any command prefixed by `%`. These are designed to facilitate common tasks and enable you to easily control the behavior of the IPython system. They are **not** built into Python itself.

## Built-in Data Structures

#### Recall some commonly used types of variables
text: **str** <br> 
numeric: **int**, **float**, **complex** <br>
boolean: **bool** <br> 
sequence: **list**, **tuple**, **range** <br>
mapping type: **dict**  (dictionaries; they map key-value) <br> 
set types: **set**, **frozenset** <br>

## Modules

Many modules/libraries have other objects, specific for those modules and can be used once the modules are imported.



Just like importing a library into R, we need to import a module into Python in order to use it. Since their names are included when calling their functions and attributes, it is often convenient to choose an abbreviation for the module name, in order to use it in the code. This is done using aliases, which are nothing but abbreiations of the names. Many commonly used modules/libraries have generally accepted aliases. For example, a `numpy` is a library/module whose common alias is `np` (although you can choose any other name, or just to use the original name). To import a module, you need to use command `import`, as shown below.

If it is not built-in, prior to importing and using a module, you need to install it. Use the command

`pip install <package_name>`

`pip`, itself, is a module, which is built-in, starting from Python version 3.4

In [7]:
# remove ## to install these packages (if not already installed)

## pip install numpy
## pip install pandas
## pip install matplotlib

In [7]:
## loading packages (a.k.a. modules/libraries)
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression

ModuleNotFoundError: No module named 'sklearn'

In [9]:
import numpy as np
np.random.seed(12345)  ## set the seed
np.set_printoptions(precision=2, suppress=True) ## setting print options

np.random.rand(5)

array([0.93, 0.32, 0.18, 0.2 , 0.57])

In [10]:
help(np.random.rand)

Help on built-in function rand:

rand(...) method of numpy.random.mtrand.RandomState instance
    rand(d0, d1, ..., dn)

    Random values in a given shape.

    .. note::
        This is a convenience function for users porting code from Matlab,
        and wraps `random_sample`. That function takes a
        tuple to specify the size of the output, which is consistent with
        other NumPy functions like `numpy.zeros` and `numpy.ones`.

    Create an array of the given shape and populate it with
    random samples from a uniform distribution
    over ``[0, 1)``.

    Parameters
    ----------
    d0, d1, ..., dn : int, optional
        The dimensions of the returned array, must be non-negative.
        If no argument is given a single Python float is returned.

    Returns
    -------
    out : ndarray, shape ``(d0, d1, ..., dn)``
        Random values.

    See Also
    --------
    random

    Examples
    --------
    >>> np.random.rand(3,2)
    array([[ 0.14022471,  0.96360618],  #random
           [ 0.37601032,  0.25528411],  #random
           [ 0.49313049,  0.94909878]]) #random

In [11]:
## can also uncomment this command (the documatation is long)
## help(np.random)

If you imported a module (or a subpackage) with an alias, you need to use it with the alias, otherwise, the package will not be recognized. For example, in the above cells, we imported `numpy` with alias `np`

`import numpy as np`

and used its function random.randn

`np.random.randn(5)`

If we used `numpy` instead of `np`. You would have to import it without alias)

`import numpy`

`numpy.random.randn(5)`


When calling function from a package, it is possible to avoid name of the parent package. For example, we can import `numpy` in the following way:

`from numpy import *`

This tells Python to import all numpy functions without prefix `numpy` or `np`, or any alias. So, the following is also legitimate.

`from numpy import *`

random.randn(5)

`numpy.random` is seen as subpackage, and you can also have

`from numpy.random import *`

after which you can use `randn()` function without specifying parent submodule and further (grand)parent module, as shown in the following cell.

In [12]:
from numpy.random import *
randn(5)

array([0.45, 0.09, 1.25, 0.77, 1.25])

## Checking Whether a Variable is of Certain Type

Apart from `type()` function, you can use `isinstance()` to check whether given variable is of a specific type. This is sometimes very useful. Here is an example

In [13]:
x = 23
isinstance(x,int) #check whether x is of int type (integer)

True

In [14]:
help(isinstance)

Help on built-in function isinstance in module builtins:

isinstance(obj, class_or_tuple, /)
    Return whether an object is an instance of a class or of a subclass thereof.

    A tuple, as in ``isinstance(x, (A, B, ...))``, may be given as the target to
    check against. This is equivalent to ``isinstance(x, A) or isinstance(x, B)
    or ...`` etc.

In [15]:
isinstance(x,float) #check whether x is of float type (real number, but not integer)

False

In [16]:
s = "This is a the string!"
isinstance(s,str)

True

In [17]:
f = 3.14
isinstance(f,int)

False

In [18]:
isinstance(f,float)

True

If a variable is of float type, it may be converted to an int type without round-off error.
For example, 12.0 is float as it has decimal point, but in mathematical sense it can also be thought of as an integer. To check that, we can use float(x).is_integer(), with `x` being the variable that is being tested.

In [19]:
x = 12.
type(x)

float

In [20]:
isinstance(x,int)

False

In [21]:
x.is_integer()

True

## Casting

Basic object types can be converted to another basic objects, using so called contstructor functions. This is called casting. Use:

* `int()` - to convert a numeric or string type to an integer

* `float()` - to convert a numeric or string type to a float

* `str()` - to convert a numeric type to a string

* `bool()` - to convert to a boolean (nearly everything converts to `True`; only 0, None and similar values convert to `False`)

Not always can you do that. Here are some examples.

In [22]:
x = int(x)
isinstance(x,int)

True

In [23]:
f = float("3.14")
isinstance(f,float)

True

In [24]:
str(3.14)

'3.14'

In [25]:
#int(x) = greatest integer of x
int(2.99)

2

In [26]:
## while int("3") is possible, int("3.0") is not possible (try both)

st = "3"
try:
    i = int(st)
except:           
    print("Sorry, you can't convert the string %s into an integer"  %st)
else:
    print("Everything is okay. You converted the string %s into the integer %s"  %(st, i))
    

 ## note that in the print() command 
 ## there is no comma (or other delimiter) b/w string and %st  (and %(st, i))

Everything is okay. You converted the string 3 into the integer 3

In [27]:
print(bool(3.14))
print(bool(3))
print(bool(0))
print(bool(None))

True
True
False
False

In [28]:
x = 3-2j
str(x)

'(3-2j)'

In [29]:
try:
    int(3+2j)
except:
    print("Oops, you can't do that!")

Oops, you can't do that!

##  Lists and Dictionaries


### Lists

In [30]:
li = [5, 3.14, 2, 'bla', 3-4j]  ## a list;  (the last component is complex)

In [31]:
li

[5, 3.14, 2, 'bla', (3-4j)]

In [32]:
## Python is 0-indexing language (i.e. has 0-index numbering; indices are i=0,1,2,...)
li[0]

5

In [33]:
li[1]

3.14

In [34]:
li[-1] #the last entry of li

(3-4j)

In [35]:
li[-2] #second to the last

'bla'

**IMPORTANT:** When assigning a variable (or name) in Python, you are actually creating a *reference* to the object on the righthand side of the `=` sign. This is a big difference between Python and R (and some other languages). Here is an example.

In [36]:
a = [1, 2, 3]

In [37]:
b = a  ## assigning (a new) reference 'b' to an object that also has reference 'a'
b

[1, 2, 3]

In [38]:
a = [1, 2, 3]
b = a  ## a new reference (additional) for memory referenced as 'a'; 
       ## the new (addiitonal) reference called 'b'; you are NOT creating a new variable/object

a.append(4) 

""" in the same memory location (called 'a') append 4 to what you already have 
    ('a' remains to be the reference to the same memory location) 
"""

print(a)
print(b)

[1, 2, 3, 4]
[1, 2, 3, 4]

In [39]:
## if you want to copy the list a, use a[:]
a = [1, 2, 3]
b = a[:]   ## now, we do create a new variable, called b
a.append(4)

print(a)
print(b)

[1, 2, 3, 4]
[1, 2, 3]

In [40]:
a = [1,2,3]
b = a[:]
a.append(-17)
print(a)
print(b)

[1, 2, 3, -17]
[1, 2, 3]

In [41]:
## we can concatenate with '+' (instead of using append() method)

a = [1,2,3]
print(a)

a = a + [4]
print(a)

[1, 2, 3]
[1, 2, 3, 4]

In [42]:
## concatenation of two lists

li1 = ["bla",2, 3.0]
li2 = ["four", (5,"six")]

li1 + li2

['bla', 2, 3.0, 'four', (5, 'six')]

In [43]:
li1 = ["bla",2, 3.0]
li2 = ["four", (5,"six")]

li1.append(li2) 

print(li1)    ## print li1 after appending li2 to it

li1[-1]    ## the last component of li1

['bla', 2, 3.0, ['four', (5, 'six')]]

['four', (5, 'six')]

So, the last component of `li1` is now the list `li2`. If, instead, you wanted to update `li1` by concatenating it with `li2`, apart from 

`li1 = li1 + li2` 

you can also use `extend()` method, as in the following code.

In [44]:
li1 = ["bla",2, 3.0]
li2 = ["four", (5,"six")]

li1.extend(li2)

li1     ## print li1 after extending it by li2

['bla', 2, 3.0, 'four', (5, 'six')]

In [45]:
a = [1, 2, 3]
b = a.append(4)  #appending a and setting it equal to b does not make 
print(a)
print(b)

[1, 2, 3, 4]
None

#### Inserting and Removing

In [46]:
a = [1, 'two', 'three', 4.0, (5,6)]
print(a)

a.insert(2, "bla")  ## insert value on the place with index =2; shift the rest to the right

print(a)

[1, 'two', 'three', 4.0, (5, 6)]
[1, 'two', 'bla', 'three', 4.0, (5, 6)]

In [47]:
a = [1, 'two', 'blahblah', 'three', 4.0, (5,6)]

print(a)

## pop method removes and returs/prints an element at a particular index
print(a.pop(2))

a

[1, 'two', 'blahblah', 'three', 4.0, (5, 6)]
blahblah

[1, 'two', 'three', 4.0, (5, 6)]

You can sort a list (without creating a new list), by using the method `sort()`.

In [48]:
li = [-3, 6, 4, -2, 0, 4]
print(li)

li.sort(reverse=True)
print(li)

[-3, 6, 4, -2, 0, 4]
[6, 4, 4, 0, -2, -3]

### Dictionaries

<br>

Dictionary is a collection of *key-value* pairs, where both key and value are Python objecs. Dictionaries are also called **hash maps** or **associative arrays**, since their indexing is done by keys, i.e. they associate a key with an item, rather than associating non-negative integer with an item, although keys could be (non-negative) integers. In fact keys are typically of `string` type, but could also be `int`, `float`, or even `tuple` (in case of `tuple`, all the objects in the tuple must be *imutuable*, i.e. non-modifiable). If a Python object can be used as a key, we say it is *hashable*.   

<u>Dictionaries are unordered</u>. Since the values in the dictionary are indexed by keys, they are not held in any particular order, unlike a list, where each item can be located by its position in the list.

The keys behave in a way similar to indices in an array, except that array indices are numeric and keys are arbitrary strings. **Keys in a single dictionary must be unique**. No two items (values) can have the same key!

Dictionaries are used when some items need to be stored and recovered by name. For example, a dictionary can hold all of the environment variables defined by the system or all the values associated with a registry key. While this can be much faster than iterating a list looking for a match, a dictionary can only store one item for each key value.

In [49]:
di = {"make": "toyota", "model": "corolla", "year": 2012}  ## dictionary (key:value)"corolla",

print(di)

{'make': 'toyota', 'model': 'corolla', 'year': 2012}

In [50]:
## could write this way, as well
    
di = { "make": "toyota", 
     "model": "corolla", 
      "year": 2013}

In [51]:
print(di)

{'make': 'toyota', 'model': 'corolla', 'year': 2013}

You access a component of a dictionary through its key.

In [52]:
di["model"]

'corolla'

Alternatively, dictionaries have method `get()`, which can be used for accessing a component (again through its key).

In [53]:
di.get("model")

'corolla'

In [54]:
## change model to camry
di["model"] = "camry"
di

{'make': 'toyota', 'model': 'camry', 'year': 2013}

In [55]:
di = { "make": "toyota", 
     "model": "corolla", 
      "year": 2013} 

di

{'make': 'toyota', 'model': 'corolla', 'year': 2013}

In [56]:
## check whether certain key exists in a dictionary
"model" in di

True

In [57]:
"car" in di

False

In [58]:
"corolla" in di.values()

True

In [59]:
## add item with specified key (and assign value to that key)
di["color"] = "pink"


di

{'make': 'toyota', 'model': 'corolla', 'year': 2013, 'color': 'pink'}

In [60]:
## remove item with specified key
del di["year"]

di

{'make': 'toyota', 'model': 'corolla', 'color': 'pink'}

## Loops

In [61]:
li = [5, 3.14, 7, 'bla', (3-4j), 56, 17]
print(li)

[5, 3.14, 7, 'bla', (3-4j), 56, 17]

In [62]:
print(len(li))
range(len(li))

7

range(0, 7)

In [63]:
print(li)
for i in range(len(li)):
    print("i = ", i, "; li[i] = ", li[i])

[5, 3.14, 7, 'bla', (3-4j), 56, 17]
i =  0 ; li[i] =  5
i =  1 ; li[i] =  3.14
i =  2 ; li[i] =  7
i =  3 ; li[i] =  bla
i =  4 ; li[i] =  (3-4j)
i =  5 ; li[i] =  56
i =  6 ; li[i] =  17

Instead of looping through indexes of the components of the list, we can also loop directly through components:

In [64]:
for elem in li:
    print(elem)

5
3.14
7
bla
(3-4j)
56
17

In [65]:
elem

17

Note that in Python, we don't use {} or other markers to indicate the part of the loop that gets iterated.  Instead, we just indent and align each of the iterated statements with spaces or tabs. (You can use as many as you want, as long as the lines are aligned.)

In [66]:
di = { "make": "toyota", 
     "model": "corolla", 
      "year": 2013} 

di

{'make': 'toyota', 'model': 'corolla', 'year': 2013}

#### Looping Through a Dictionary by Key

In [67]:
for k in di:
    print(k, di[k])

make toyota
model corolla
year 2013

#### Looping Through a Dictionary by Value

In [68]:
for v in di.values():
    print(v)

toyota
corolla
2013

Use `break` in a loop to stop looping if certain condition happens.

In [69]:
print(li)
for elem in li:
    print(elem)
    if elem=="bla":
        break
        
print(elem)

[5, 3.14, 7, 'bla', (3-4j), 56, 17]
5
3.14
7
bla
bla

Note that the `elem` variable is not formally a dummy variable that was temporarily just defined to run through the list. Instead, the loop created it and then changed its value multiple times. Once we got out of the loop, `elem` remained to live in the environment, with the value being the last value changed in the loop.

We can use for loop to define a list (in an elegant way). Examine the following example carefully.

In [70]:
x = [12.0, 3, 4.0, -1., 5/3, 3.1415926, 2.50]

## define a list based on the list x, but some values converted to int, whenever possible;
## here, num is a dummy variable

[int(num) if float(num).is_integer() else round(num,2) for num in x]

[12, 3, 4, -1, 1.67, 3.14, 2.5]

This time, `num` **is** a dummy variable, i.e. does not exists outside of the loop

In [71]:
try: 
    print(num)
except:
    print("Variable num does not exist.")

Variable num does not exist.

In [72]:
## method items() of a dictionary creates a list of key-value tuples

di = { "make": "toyota", 
     "model": "corolla", 
      "year": 2013} 

di.items()

dict_items([('make', 'toyota'), ('model', 'corolla'), ('year', 2013)])

Loop through both keys and values of a dictionary, by using the `items()` method:

In [73]:
for (x, y) in di.items():
    print(x, y)

make toyota
model corolla
year 2013

In [74]:
## can also write tuple (x,y) without parentheses

for x, y  in di.items():
    print(x, y) #but here you must have parentheses, since print() is a function (and we are in Python 3)

make toyota
model corolla
year 2013

### Slicing Lists

In [75]:
li = [5, 3.14, 7, 'bla', (3-4j), 56, 17]
li

[5, 3.14, 7, 'bla', (3-4j), 56, 17]

In [76]:
print(li)
li[3]

[5, 3.14, 7, 'bla', (3-4j), 56, 17]

'bla'

In [77]:
li[0:3]

[5, 3.14, 7]

In [78]:
li[:3]  ## same as li[0:3]

[5, 3.14, 7]

In [79]:
li[3:]   ## from index 3, up to and including the end

['bla', (3-4j), 56, 17]

In [80]:
print(li)

## from beginning to the end, by 2
li[0:len(li):2]

[5, 3.14, 7, 'bla', (3-4j), 56, 17]

[5, 7, (3-4j), 17]

In [81]:
## same as above (i.e. print every other, starting from the first)
li[::2]

[5, 7, (3-4j), 17]

In [82]:
print(li)

## from index 1 (i.e. 2nd component), by 3 (i.e. every third)
li[1::3]

[5, 3.14, 7, 'bla', (3-4j), 56, 17]

[3.14, (3-4j)]

In [83]:
print(li)

## reverse order
li[::-1]

[5, 3.14, 7, 'bla', (3-4j), 56, 17]

[17, 56, (3-4j), 'bla', 7, 3.14, 5]

In [84]:
## reverse order, by 2
li[::-2]

[17, (3-4j), 7, 5]

In [85]:
len(li)

7

In [86]:
for k in range(0,len(li)):   ##the same as range(len(li))
    print(li[k])

5
3.14
7
bla
(3-4j)
56
17

In [87]:
for k in range(2,len(li)):
    print(li[k])

7
bla
(3-4j)
56
17

In [88]:
print(range(0,5))  ## range [0,5); i.e. 0,1,2,3,4
print(range(5))  ## also range [0,5)

range(0, 5)
range(0, 5)

In [89]:
print(range(2,5))
len(range(2,5))

range(2, 5)

3

In [90]:
range(2,5)[2]     ## range [2,5) tj. 2,3,4

4

In [91]:
type(range(5))

range

# Creating Functions in Python

Again, we don't use {}, but just indent the lines that are part of the function.

In [92]:
def mult(x,y):
    prod = x * y   
    return(prod)   ## could also write w/o parentheses: return prod  
                   ## but must not omit the word "return" (unlike in R)

In [93]:
a=3; b=4

In [94]:
mult(a,b)

12

### Setting default values of function arguments

In [95]:
def mult(x=1, y=1):
    print("x =", x)   ## this is for testing the rule of assigning default values 
    print("y =", y)   ## (not really needed otherwise) 
                         
    return(x * y)


mult()

x = 1
y = 1

1

In [96]:
mult(5, -2)

x = 5
y = -2

-10

In [97]:
mult(3)  ## 3 is assigned to the first argument in the list, i.e. to x

x = 3
y = 1

3

In [98]:
mult(y=3)

x = 1
y = 3

3

### Functions with a Non-Fixed Number of Input Arguments; `*args` and `**kwargs` Arguments

In [99]:
def multi(*args):
    print(args)        ## check what args is
    print(type(args))  ## check of what object type args is
    prod = 1
    
    for el in args:
        prod = prod * el
        
    return(prod)


multi(2, -3)  ## let's test

(2, -3)
<class 'tuple'>

-6

So, `args` from the above code is a tuple. Also, the name `*args` is used by a common convention/practice, but is not required. Instead of `*args`, you can use any other name, but with `*` at the beginning;

In [100]:
def multi(*pizza):

    prod = 1
    
    for el in pizza:
        prod = prod * el
        
    return(prod)


## Let's test it

print(multi(2, -3))  ## the output is integer, as all arguments are integers
print(multi(2, -3, 5.)) ## the output is float, since at least one argument is a float

-6
-30.0

It is often convenient to have certain specific arguments, and possibly more, arbitrary many arguments. In this case you can define function something like this:


`def myFun(arg1, arg2, *args)`

or 

`def myFun(*args, arglast)`

You can also put `*args` in between two specific arguments. In any of these cases, it is desireable to assign default values of all specific arguments.

Apart from a single star before name, you can also use ** before argument name. It's a common practice and convention to use `**kwargs`, having in mind that `kwargs` = **k**ey**w**ord **arg**ument**s**).

We saw that * creates a tuple of input arguments. In case of ** we have a dictionary, where arguments are given in a key-value form.

In [101]:
def capital_cities(**kwargs): 

    print(kwargs)  ## let's see what kwargs is (it's a dictionary)
    
    # initialize an empty list to store the output
    out = []

    
    for (key, value) in kwargs.items():
        
        out.append("The capital city of {} is {}.".format(key,value))
 
    return(out)

## Let's test the function capital_cities with three pairs of key-values.
## The choice of the second pair is made to draw your attention to what key is and what value is.

capital_cities(China = "Beijing", USA = "Washington", Canada = "Otawa")

{'China': 'Beijing', 'USA': 'Washington', 'Canada': 'Otawa'}

['The capital city of China is Beijing.',
 'The capital city of USA is Washington.',
 'The capital city of Canada is Otawa.']

Just like with `*args`, instead of `**kwargs`, we can have any other name after `**` (for example, `**pizza`).

### Anonymous Functions (Lambda Expressions)

We can also define simple functions using reserved word `lambda` (so called **lambda expressions** or **anonymous** functions):

In [102]:
cube = lambda x: x**3    ## raising a to b, i.e. a^b; we can write pow(a,b) instead

In [103]:
cube(-2)

-8

Looks like the above function does have a name (cube). However, when you are passing a function as an argument (input parameter) of another function, it is often convenient to pass it just by typing the corresponding lambda expression and thus, without specifying the name. Such a function is trully anonymous. Here are two examples that justify the adjective "anonymous".

In [104]:
(lambda x: x**3)(-2)

-8

In [144]:
## creating a list of two anonymous functions
myfuns = [lambda x: x**3, lambda x: x - 20.4]

print(myfuns[0](-2))  ## calling the first function (index = 0)
print(myfuns[1](-2))  ## calling the second function (index = 1)

-8
-22.4

In [145]:
myfuns.append(lambda x, y : x - y)
myfuns

[<function __main__.<lambda>(x)>,
 <function __main__.<lambda>(x)>,
 <function __main__.<lambda>(x, y)>]

In [146]:
myfuns[2](3,7)

-4

In [147]:
def mult(x,y):
    return(x*y)

In [148]:
##apart from .append() method, we can use +
myfuns = myfuns + [mult]
myfuns

[<function __main__.<lambda>(x)>,
 <function __main__.<lambda>(x)>,
 <function __main__.<lambda>(x, y)>,
 <function __main__.mult(x, y)>]

In [150]:
myfuns[3](4, -7)

-28

<br>
<br>
<br>
<br>

### Interrupting/Stopping a Code

One way to interrupt a running code is to click on the tab

Kernel $\to$ Interrupt

Alternatively, when in the command mode, press the "I" key **twice**: `I, I`. For example, you can try running the following code and press `I, I` (no need for capitalization). Then check the value of `x`. 

<code>
import time
x = 0
while 2 > 1:
    x = x + 1
    time.sleep(1)  ## pause for 1 second in execution
</code>

In [109]:
a = "This is"
b = "my text"
c = 7
d = 5
print(a + b)
print(a + " " + b)
print(c + d)

This ismy text
This is my text
12

In [110]:
## However, strings and numbers cannot mix

try:
    a + c
except:
    print("Sorry, strings  and numeric variables do not 'mix'.")

Sorry, strings  and numeric variables do not 'mix'.

In [111]:
a = [1,2,3]
b = a

print(b)
print(a[:])
a.append(-17)
print(a)
print(b)

[1, 2, 3]
[1, 2, 3]
[1, 2, 3, -17]
[1, 2, 3, -17]

In [112]:
a = [1,2,3]
b = a[:]

a.append(-17)

print(a)
print(b)

dir(a)

[1, 2, 3, -17]
[1, 2, 3]

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

#### Dynamic references, strong types

In [113]:
a = 5
print(type(a))
a = 'foo'
type(a)

<class 'int'>

str

In [114]:

try:
    '5' + 5  
    
except:
    print("Sorry, this operation makes no sense.")

Sorry, this operation makes no sense.

In [115]:
a = 4.5
b = 2
# String formatting, to be visited later
print('a is {0}, b is {1}'.format(type(a), type(b)))
a / b

a is <class 'float'>, b is <class 'int'>

2.25

In [116]:
a = 5
isinstance(a, int)

True

In [117]:
a = 5; b = 4.5
print(isinstance(a, (int, float)))
isinstance(b, (int, float))

True

True

#### Attributes and methods

After typing an object's name, followed by '.', use 'tab' to get a list of all attributes and methods.

From McKinney's Ch03 ipynb:

```python
In [1]: a = 'foo'

In [2]: a.<Press Tab>
a.capitalize  a.format      a.isupper     a.rindex      a.strip
a.center      a.index       a.join        a.rjust       a.swapcase
a.count       a.isalnum     a.ljust       a.rpartition  a.title
a.decode      a.isalpha     a.lower       a.rsplit      a.translate
a.encode      a.isdigit     a.lstrip      a.rstrip      a.upper
a.endswith    a.islower     a.partition   a.split       a.zfill
a.expandtabs  a.isspace     a.replace     a.splitlines
a.find        a.istitle     a.rfind       a.startswith
```

You can also use `dir()` function to list all the methods and attributes an object has.

In [118]:
a = 'foo'

dir(a)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [119]:
getattr(a, 'split')

#### Duck typing

In [120]:
def isiterable(obj):
    try:
        iter(obj)
        return True
    except:    # what to do if error occurs, i.e. if obj is not iterable
        return False

In [121]:
isiterable([-7, 3.14, 930])

True

In [122]:
[-7, 3.14, 930][1]   ## 1st bracket creates a list, 2nd bracket is about which index to pull out

3.14

In [123]:
isiterable('a string')

True

In [124]:
'a string'[2]

's'

In [125]:
isiterable(5)

False

#### Binary operators and comparisons

In [126]:
a = [1, 2, 3]
b = a
c = list(a)
a is b
a is not c

True

In [127]:
not a == c

False

In [128]:
a = None
a is None

True

### Mutable and immutable objects

Lists are mutable (can be modified/changed using assignment operator '='). Tuples and strings are not.

In [129]:
## lists are mutable (can be modified/changed using assignment operator '=')
li = ['foo', 2, [4, 5]]
li[2] = (3, 4)
li

['foo', 2, (3, 4)]

In [130]:
## tuples are not mutable
tp = (3, 5, (4, 5))
print(tp[1])

5

`tp = (3, 5, (4, 5))`

An attempt to change tuple `tp` fails (tuples are not mutable; neither are strings). For example, 

`tp[1] = 7`

gives you an error

In [131]:
b = 'abcdefg'
b[2:5]

'cde'

In [132]:
b[2:5] = 'azb'  ## attempt to change string failed (string is not mutable neither)

TypeError: 'str' object does not support item assignment

In [ ]:
## instead, you can do the following
b = b[:2] + 'azb' + b[6:]
b

#### More on Strings

In [ ]:
a = 'one way of writing a string'
b = "another way"

print(a)
print(b)

In [ ]:
c = """
This is a longer string that
spans multiple lines
"""

c

In [ ]:
#count how many new lines, i.e. symbols \n

c.count('\n')

In [ ]:
a = 'this is a string'
b = a.replace('string', 'longer string')
b

In [ ]:
a = 5.6
s = str(a)
print(s)

In [ ]:
s = 'python'
list(s)
s[:3]

In [ ]:
s = '12\\34'
print(s)

In [ ]:
s = r'this\has\no\special\characters'
s

In [ ]:
a = 'this is the first half '
b = 'and this is the second half'
a + b

In [ ]:
template = '{0:.2f} {1:s} are worth US${2:d}'

In [ ]:
template.format(4.5560, 'Argentine Pesos', 1)